<div class="container mt-4">
    <h2 class="text-center mb-4">Liste de souhaits</h2>
  
    <!-- Si l'utilisateur n'a pas de wishlist -->
    <div *ngIf="!showWishlistSelect">
      <h4>Vous n'avez pas encore de liste de souhaits</h4>
  
      <!-- Formulaire de création de wishlist -->
      <form #wishlistForm="ngForm" (ngSubmit)="createWishlist()">
        <input 
          [(ngModel)]="newWishlistName" 
          #newWishlistNameRef="ngModel"
          name="newWishlistName"
          placeholder="Nom de la wishlist" 
          class="form-control mb-2"
          required>
        
        <div *ngIf="newWishlistNameRef.invalid && newWishlistNameRef.touched">
          <div class="alert alert-danger mt-2">
            <small>Le nom de la wishlist est obligatoire.</small>
          </div>
        </div>
  
        <button class="btn btn-success mt-1" [disabled]="newWishlistNameRef.invalid">Créer</button>
      </form>
    </div>
  
    <!-- Si l'utilisateur a des wishlists existantes -->
    <div *ngIf="showWishlistSelect">
      <label for="wishlistSelect">Choisissez une wishlist :</label>
      
      <select id="wishlistSelect" 
            [(ngModel)]="selectedWishlistId" 
            class="form-control mt-3">
        <option *ngFor="let wl of wishlistNames" [value]="wl.id">{{ wl.name }}</option>
      </select>
  
      <!-- Ajouter le produit à la wishlist sélectionnée -->
      <button class="btn btn-success mt-3" (click)="addProductToWishlist()" [disabled]="!selectedWishlistId">
        Ajouter à la wishlist
      </button>
  
      <!-- Bouton pour créer une nouvelle wishlist -->
      <button class="btn btn-primary mt-3 ms-2" (click)="toggleCreateForm()">
        {{ showCreateForm ? 'Annuler' : 'Créer une nouvelle wishlist' }}
      </button>
    </div>
  
    <!-- Formulaire de création de wishlist (visible seulement si showCreateForm est true) -->
    <div *ngIf="showCreateForm" class="mt-3">
      <h4>Créer une nouvelle wishlist</h4>
      <form #newWishlistForm="ngForm" (ngSubmit)="createWishlist()">
        <input 
          [(ngModel)]="newWishlistName" 
          #newWishlistNameRef="ngModel"
          name="newWishlistName"
          placeholder="Nom de la nouvelle wishlist"
          class="form-control mb-2"
          required>
        
        <div *ngIf="newWishlistNameRef.invalid && newWishlistNameRef.touched">
          <div class="alert alert-danger mt-2">
            <small>Le nom de la wishlist est obligatoire.</small>
          </div>
        </div>
  
        <button class="btn btn-success mt-1" [disabled]="newWishlistNameRef.invalid">Créer</button>
      </form>
    </div>
  </div>
  