.card {
    height: 300px; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-img-top {
    height: 120px; 
    object-fit: cover; 
}

.card-body {
    flex: 1; 
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
