.card {
    transition: transform 0.2s ease-in-out;
    width:300px;
}

.card:hover {
    transform: scale(1.05);
}

.profile-container {
    max-width: 900px;
    margin: auto;
}

.img-fluid {
    border-radius: 8px;
}

.loading {
    text-align: center;
    font-size: 1.2em;
}

.thumbnail-container {
    width: 100%;               /* Largeur dynamique pour s'adapter à la carte */
    height: 255px;             /* Hauteur fixe */
    overflow: hidden;          /* Cache les parties de l'image qui débordent */
    position: relative;        /* Nécessaire pour contenir l'image */
    border-radius: 8px;        /* Coins arrondis (optionnel) */
    border: 1px solid #ddd;    /* Bordure pour démarquer l'image */
    background-color: #f8f9fa; /* Couleur de fond (optionnel) */
}
  
.thumbnail-container img {
    position: absolute;        /* Permet le centrage */
    top: 50%;                  /* Centre verticalement */
    left: 50%;                 /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste pour un centrage parfait */
    width: 100%;               /* Remplit la largeur */
    height: auto;              /* Maintient le ratio de l'image */
    object-fit: cover;         /* Recadre l'image pour remplir le conteneur */
  }
  
 a {
    text-decoration: none;
}