<div class="container mt-4">
  <h2 class="text-center mb-4">{{ categoryTitle }}</h2>

  <div *ngIf="products && products.length > 0; else noProducts">
    <div class="row g-3">
      <div
        *ngFor="let product of products"
        class="col-md-4 mb-4"
        (click)="viewProductDetails(product.id)"
        style="cursor: pointer;"
      >
        <div class="card h-100 shadow-sm me-3">
          <div class="thumbnail-container d-flex justify-content-center align-items-center">
            <img
              [src]="product.defaultImage || 'assets/images/no-image.png'"
              class="card-img-top img-fluid"
              style="max-width: 150px; height: auto;"
              alt="{{ product.name }}"
              (click)="viewProductDetails(product.id)"
            />
          </div>
          <div class="card-body mt-2">
            <h5 class="card-title fw-bold" (click)="viewProductDetails(product.id)">{{ product.libelle }}</h5>
            <h6 class="card-title">Référence : {{ product.reference }}</h6>
            <p class="card-text">
              Description : {{ product.description | slice: 0:50 }}...
            </p>
            
            <p *ngIf="isLoggedIn"><strong>Vendu par :</strong>
              <a [routerLink]="['/seller-profile', product.user.id]" class="text-success">
                {{ product.user.name }} {{ product.user.firstname }}
              </a>
            </p>    
            
            <p *ngIf="!isLoggedIn"><strong>Vendu par :</strong>
               <span class="text-success"> {{ product.user.name }} {{ product.user.firstname }}</span>
            </p>

            <div class="wishlist-icon-container d-flex justify-content-end align-items-center">
              <i class="fa fa-solid fa-heart text-warning" aria-hidden="true" (click)="handleWishlistClick(product.id)"></i>
              <i class="fa fa-solid fa-shopping-cart ms-2 text-info" aria-hidden="true" (click)="handleAddToCart(product.id)"></i>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Afficher un message lorsque la liste des produits est vide -->
  <ng-template #noProducts>
    <div class="alert alert-warning text-center">
      Aucun produit disponible pour le moment.
    </div>
  </ng-template>
</div>
