.seller-profile {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
  
.seller-info {
   max-width: 70%; 
}
  
 .seller-photo img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   object-fit: cover; 
   float: right; 
   margin-left: 20px; 
}

.card {
   height: 300px; 
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.card-img-top {
   height: 120px; 
   object-fit: cover; 
}

.card-body {
   flex: 1; 
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
