<div class="container mt-4">
    <h2 class="text-center mb-4">Confirmation de l'ajout au panier</h2>
  
    <div *ngIf="product">
      <div class="row">
        <div class="col-md-4">
          <img
            [src]="product.defaultImage || 'assets/images/no-image.png'"
            class="img-fluid"
            style="max-width: 150px; height: auto;"
            alt="{{ product.libelle }}"
          />
        </div>
        <div class="col-md-8">
          <h5>{{ product.libelle }}</h5>
          <p><strong>Référence :</strong> {{ product.reference }}</p>
          <p><strong>Description :</strong> {{ product.description }}</p>
  
          <div>
            <label for="quantite">Quantité :</label>
            <input type="number" id="quantite" [(ngModel)]="quantite" min="1" class="form-control" />
  
            <button class="btn btn-success mt-3 d-flex align-items-center px-4 py-2 rounded-pill shadow-lg transition-all hover:scale-105" (click)="addToCart()">
                <i class="fa fa-plus me-2"></i> <!-- Ajoute l'icône "plus" avec un espace à gauche -->
                Ajouter au panier
            </button>              
          </div>
        </div>
      </div>
    </div>
  </div>
  